<h1>Cocktails List</h1>

<div><p><% @cocktails.each do |cocktail|%>
 <p> <%= link_to cocktail.name, cocktail_path(cocktail) %> </p>
<% end %></p></div>

<p><%= link_to "Add a cocktail", new_cocktail_path %></p>
