<h1>Cocktails List</h1>

<%= cl_image_tag("THE_IMAGE_ID_FROM_LIBRARY",
      width: 400, height: 300, crop: :fill) %>

<div><p><% @cocktails.each do |cocktail|%>
 <p> <%= link_to cocktail.name, cocktail_path(cocktail) %> </p>
<% end %></p></div>

<p><%= link_to "Add a cocktail", new_cocktail_path %></p>
