<h1>Create new cocktail</h1>

<div><p> <%= simple_form_for [@cocktail] do |f| %>
  <%= f.input :name %>
  <%= f.submit "create a cocktail", class: "btn btn-primary" %>
<% end %> </p></div>

<p> <%= link_to 'Back to all cocktails', cocktails_path %> </p>
